<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Application icon">
    <mat-icon>developer_mode</mat-icon>
  </button>

  <span>Angular with JSON Server Application</span>

  <span class="example-spacer"></span>
  <button
    *ngIf="!isUserLoggedIn"
    (click)="goToLoginPage()"
    mat-raised-button
    color="accent"
    aria-label="Login"
    class="login-button"
  >
    Login
  </button>

  <button
    *ngIf="!isUserLoggedIn"
    (click)="goToSubmitPage()"
    mat-raised-button
    color="warn"
    aria-label="Signup"
  >
    Signup
  </button>

  <button
    *ngIf="isUserLoggedIn"
    (click)="logout()"
    mat-raised-button
    color="warn"
    aria-label="Signup"
  >
    Logout
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
